<mat-radio-group>
  <mat-radio-button value="1">Option 1</mat-radio-button>
  <mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group>

<mat-select [(ngModel)]="color">
  <mat-option
    *ngFor="let color of colors"
    [value]="color.id">{{ color.name }}</mat-option>
  <mat-option></mat-option>
</mat-select>

<mat-form-field>
  <input 
    ngModel
    #username="ngModel"
    name="username"
    type="text"
    matInput placeholder="Username" required>
  <mat-hint>Type a username</mat-hint>
  <span matSuffix>@domain.com</span>
  <mat-error *ngIf="username.invalid && username.errors.required">
    The username field is required
  </mat-error>
</mat-form-field>